/***** HTML Elements *****/
body {
    background-color: #333;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

a {
    color: #ffc107;
}

small {
    color:"#FFFFFF";
}

hr {
    width: 50%;
    padding: 0 25%;
}


/***** CSS Classes *****/
/* Header */
.header-gif {
    width: 15%;
}

.jumbotron {
  display: flex;
  align-items: center;
  margin: 0;
  height: 60vh;
  color: white;
  background-color: #333;
}

/* Form */
.disabled-ele:disabled {
  background: #bebebe;
}

/* Flight List */
.flight-details {
    text-align: center;
}

.text-centered {
    text-align: center;
}

.main-section hr {
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    width: 5%;
    border-color: grey;
}

.main-section {
    padding-bottom: 25px;
    text-align: center;
}

/***** Media queries *****/
@media (max-width: 1028px) {

    .header-gif {
        width: 50%;
    }

}